body{
    background-color: #252525;
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    color: #EDEDED;
    min-width: 1080px;
}

h1 {
    color: #ff6a00;
    margin: 0px;
    font-size: 24px;
}

h2 {
    margin-top: 0px;
    font-size: 12px;
}

h3 {
    color: #ff6a00; 
    text-align: center;

}

h4 {
    color: #ff6a00; 
    text-align: center;
    margin: 10px;
}

button {
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    cursor: pointer;
    margin: 5;
    padding: 0;
}

button img{
    width: 32px;
    height: 32px;
    opacity: 50%;
}

button img:hover{
    opacity: 100%;
}

.logo {
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
}

div.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 150px 75px 150px;

}

img.socialmedia{
    margin: 8px;
    padding: 2px;
    width: 25px;
    height: 25px;
    
  }

div.about-me {
    background-color: #343433;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #ff6a00;
  }

div.about-me-text {
    text-align: center;
    margin: auto;
    width: 500px;
    color: #EDEDED;
}


.whatdo {
    padding-top: 60px;
    display: inline;
    margin: auto;
    width: 50%;
}

.whatdo h4 {
  text-align: left;
  margin: 0px 0px 0px 0px;
}

.whatdo-content-l {
  width: 50%px;
  padding: 0px 0px 15px 0px;
  margin-left: 25%;
  margin-right: 25%;

}

.whatdo-content-l img {
    width: 100px;
    height: 100px;
    margin-right: 40px;
    float: left;
}


.whatdo-content-r {
    width: 50%px;
    padding: 0px 0px 15px 0px;
    margin-left: 25%;
    margin-right: 25%;
}

.whatdo-content-r img {
  width: 100px;
  height: 100px;
  margin-left: 50px;
  float: right;
}


.projects {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects h3,h2 {
    text-align: center;
    margin: auto;
}

.projects img{
    width: 300px;
}

.project1 {
    float: left;
    width: 300px;
    text-align: justify;
    margin: 10px 10px 10px;
    padding: 20px 15px 20px;
    background-color: #343433;
}

.project2 {
    float: left;
    width: 300px;
    text-align: justify;
    margin: 10px 10px 10px;
    padding: 20px 15px 20px;
    background-color: #343433;
}

.project3 {
    float: left;
    width: 300px;
    text-align: justify;
    margin: 10px 10px 10px;
    padding: 20px 10px 15px;
    background-color: #343433;
}


  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  footer {
      padding: 60px 0px 10px 0px;
      text-align: center;
      font-size: 10px;
      color: #252525;
      background-color: #ff6a00;
  }

  .footer-icon{
      width: 30px;
      height: 30px;
      margin: 0px 2px 40px 2px;
     
  
    }

    footer a {
        color: #ffffff;
        text-decoration: none;}
    footer a:hover {
        color: #ff6a00;
        text-decoration: none;}
    footer a:focus {
        color: #ff6a00;
        text-decoration: none;}